
body {
  background-color: black; 
  color: white; 
}

#fruit {
  margin-bottom: 10px;
}

.suggestions {
  position: relative;
  max-height: 200px; 
  overflow-y: auto; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 5px;
  cursor: pointer;
}

.SelectedList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#specificImage {
  max-width: 100%;
  height: auto;
}

#SpecificInfo,
#Label {
  margin-top: 10px;
  text-align: center;
}
